body {
    font-family: 'Tangerine';
    color: #DAE1D8;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0c251e;
    overflow-x: hidden; /* Para evitar la barra de desplazamiento horizontal */
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* 100% del viewport height */
}
.containerCountdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.containerHistory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.containerHistory hr{
    width: 100%;
}
#title {
    text-align: center;
    font-size: 4em; /* Tamaño grande del título */
    margin: 20px 0; /* Añade un poco de espacio arriba y abajo */
}
#countdown {
    text-align: center;
    font-size: 2em; /* Tamaño grande del contador */
    display: flex;
    justify-content: center;
}
#history {
    text-align: center;
    font-size: 2.5em; /* Tamaño grande del contador */
    display: flex;
    justify-content: center;
}
.countdown-item {
    margin: 10px; /* Ajusta el espacio entre los elementos */
    padding-right: 10px;
    text-align: center;
}
.fade {
    display: flex;
    justify-content: center;
    color: transparent;
    animation: fade-in 1s ease forwards, slide-up 1.5s ease forwards;
}
.fade1 {
    color: transparent;
    animation: fade-in 1s ease forwards, slide-up 1.5s ease forwards;
}
.fade2 {
    color: transparent;
    animation: fade-in 1s ease forwards, slide-up 1.5s ease forwards;
}
.fade3 {
    color: transparent;
    animation: fade-in 1s ease forwards, slide-up 1.5s ease forwards;
}
.fade4 {
    color: transparent;
    animation: fade-in 1s ease forwards, slide-up 1.5s ease forwards;
}
.fade5 {
    color: transparent;
    animation: fade-in 1s ease forwards, slide-up 1.5s ease forwards;
}
hr {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 25px;
    padding-top: 20px;
    border: none;
    border-top: 0.75px solid #DAE1D8;
}
header {
    background-image: url(images/imageHeader.png); /* Color de fondo del encabezado */
    width: 100vw; /* Espaciado interior */
    height: 50vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
}

nav ul {
    list-style-type: none; /* Quitar viñetas de la lista */
    padding: 0; /* Eliminar relleno interior */
}

nav ul li {
    display: inline; /* Mostrar en línea */
}

nav ul li a {
    text-decoration: none; /* Quitar subrayado del enlace */
    color: #fff; /* Color del texto del enlace */
    padding: 20px; /* Espaciado interior */
    font-size: 2em;
}

@keyframes fade-in {
    from {
        color: transparent;
    }
    to {
        color: #DAE1D8;
    }
}
@keyframes slide-up {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}
@media (max-width: 600px) {
    #title {
        font-size: 3em; /* Reduce el tamaño del título en dispositivos móviles */
    }
    #countdown {
        font-size: 2em; /* Reduce el tamaño del contador en dispositivos móviles */
    }
    #history {
        font-size: 1.7em; /* Reduce el tamaño del contador en dispositivos móviles */
    }
    nav ul li a{
        font-size: 1em; /* Reduce el tamaño del contador en dispositivos móviles */
    }
    .containerCountdown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
    }
    .containerHistory{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
    }
}