* {
    margin: 0;
    padding: 0;
    background-color: #0c251e;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
}

body {
    height: 100%;
    width: 100%;
}

#mobile-content {
    display: none;
  }

#desktop-message {
    color: white;
    display: none;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 20%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana */
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#alba{
    display: flex;
    width: 100%;
    color: white; /* Ajusta el color según tu diseño */
    z-index: 2;
    background: url('./images/alba.jpeg') no-repeat center center/cover;
}

#ivan{
    display: flex;
    width: 100%;
    color: white; /* Ajusta el color según tu diseño */
    z-index: 2;
    background: url('./images/ivan.jpeg') no-repeat center center/cover;
}

#front{
    display: flex;
}

#alba section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    background-color: transparent;
    margin-bottom: 20px;
    align-self: center;
    text-decoration: none;
}

a:visited {
    color: white; /* Mismo color que el enlace no visitado */
    text-decoration: none; /* Sin subrayado */
}

.titleFrontPageBig {
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 6px;
    font-weight: 900;
}

.titleFrontPageLit {
    font-size: 1.3rem;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 400;
}

.nameFrontPageBig {
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 6px;
    font-weight: 900;
    height: 90%;
}

.nameFrontPageLit {
    display: flex;
    font-size: 1.3rem;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 400;
    align-items: center;
    height: 90%;
}

.eventContent{
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 6px;
    font-weight: 900;
}

.hourContent{
    font-size: 1.3rem;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 400;
}

.italicContent{
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 100;
    padding-top: 5%;
}

#contentLink .borderSection {
    display: flex;
    place-items: center;
    align-items: center;
    background-color: transparent;
    width: 85%;
}

#contentLink .borderSectionContent {
    display: flex;
    place-items: center;
    align-items: center;
    background-color: transparent;
    width: 85%;
}

#alba section {
    display: grid;
    place-items: center;
    align-content: center;
    background-color: transparent;
    width: 100%;
}

#contentLink {
    display: flex;
    flex-direction: column;
    margin-top: 100vh; /* Para que el contenido no quede oculto detrás del header */
    color: white;
    width: 100%;
    align-items: center;
    padding-top: 20%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.left {
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#frontPageArrow {
    position: absolute;
    bottom: 20px; /* Distancia desde el fondo de la pantalla */
    left: 50%;
    background-color: transparent;
}

.arrowButton {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    text-decoration: none;
    font-size: 50px;
    z-index: 100;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.dateFront{
    display: grid;
    grid-template-columns: auto auto auto; /* Tres columnas */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 20px; /* Espacio entre los elementos */
    background-color: transparent;
}

/* Agregar barras verticales de separación */
.dateFront a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px; /* Ancho de la barra */
    background-color: white; /* Color de la barra */
    transform: translateX(50%);
}

/* Ajuste para que las barras no se sobrepongan */
.dateFront a:not(:last-child) {
    position: relative;
    padding-right: 20px; /* Espacio para la barra */
}

.verticalLine {
    display: flex;
    justify-content: start;
    height: 190px;
    border-right: 2px solid white;
}

.verticalLineShort {
    display: flex;
    justify-content: start;
    height: 100px;
    border-right: 2px solid white;
}

.borderSection{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    text-align: center;
    border-radius: 10px; /* Opcional: bordes redondeados */
}

.titleContent {
    font-size: 2.0rem;
    font-style: normal;
    letter-spacing: 6px;
    font-weight: 900;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: #0c251e;
}

.dateContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    width: 100%;
}

.scheduleContent{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    width: 60%;
}

.hourContent{
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 900;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 8px;
}

.buttonRsvp{
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    width: 35%;
    text-align: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 10%;
    margin-bottom: 0;
    color: white;
}

.descriptionContent{
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 1;
    margin-top: 10%;
    text-align: center;
}

.map{
    margin-top: 10%; /* Espaciado opcional entre el contenido y el mapa */
    width: 100%;      /* Hace que el mapa sea adaptable */
    max-width: 600px; /* Establece un ancho máximo */
    height: 400px;    /* Ajusta la altura del mapa */
    border-radius: 10px; /* Opcional: bordes redondeados */
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 20%;
    width: 75%;
}

.borderSectionContentFacts{
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    gap: 30px; /* Espacio entre celdas */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px; /* Opcional: bordes redondeados */
    padding: 5%;
    width: 75%;
}

.borderSectionContent{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    text-align: center;
    border-radius: 10px; /* Opcional: bordes redondeados */
}

.borderSectionImage{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    text-align: center;
    width: 60%;
}

.contentImage{
    display: block;
    width: 100%;
    max-width: 100%; /* La imagen será adaptable */
    height: 100%; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Opcional: bordes redondeados */
    border: 2px solid white;
  }

.invitation{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 20%;
}

.us{
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 2% 3%;
    margin-bottom: 20%;
    margin-top: 10%;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 200;
}

.invitationName{
    font-size: 1.5em;
    font-style: normal;
    letter-spacing: 3px;
    font-weight: 900;
    margin-bottom: 2%;
}

.invitationText{
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 10%;
    margin-top: 20%;
    text-align: center;
}

.cardContainer{
    perspective: 1000px;
}

.card{
    position: relative;
    width:30vh;
    height: 50vh;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.cardFacts{
    width: 15vh;
    height: 25vh;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border: 1px solid white;
}


.frontCard, .backCard{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
}

.frontCard{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.backCard{
    background-color: white;
    color: #0c251e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border-radius: 8px; 
    border: 2px solid white;
}

.card.flipped {
    transform: rotateY(180deg); /* Gira la tarjeta al hacer clic */
}

.cardFacts.flipped {
    transform: rotateY(180deg); /* Gira la tarjeta al hacer clic */
}

@media (max-width: 768px) {

    .nameFrontPageBig {
        font-size: 2rem;
        font-style: normal;
        letter-spacing: 5px;
        font-weight: 900;
    }

    .nameFrontPageLit {
        font-size: 0.9rem;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .titleFrontPageBig {
        font-size: 1rem;
        font-style: normal;
        letter-spacing: 5px;
        font-weight: 900;
    }

    .titleFrontPageLit {
        font-size: 1rem;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .hourContent{
        font-size: 1rem;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .eventContent{
        font-size: 2rem;
        font-style: normal;
        letter-spacing: 5px;
        font-weight: 900;
    }

    #alba {
        position: absolute;
        left: 0;
        color: white; /* Ajusta el color según tu diseño */
        z-index: 2;
        height: 46vh;
        align-items: flex-start;
        top: 0;
    }

    #ivan {
        position: absolute;
        left: 0;
        color: white; /* Ajusta el color según tu diseño */
        z-index: 2;
        height: 46vh;
        top: 46%;
    }

    #frontPageArrow {
        position: absolute;
        bottom: 0; /* Distancia desde el fondo de la pantalla */
        left: 45%;
        margin-bottom: 35%;
        cursor: pointer;
    }

    .arrowButton {
        display: flex;
        justify-content: center;
        color: white;
        border-radius: 50%;
        text-decoration: none;
        font-size: 35px;
        z-index: 1000;
        cursor: pointer;
        height: 50px;
        width: 50px;
        position: absolute;
    }
    
    .front{
        margin-top: 25%;
        padding-left: 5%;
    }

    .dateFront a{
        text-align: center;
    }

    header {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* 100% de la altura de la ventana */
        z-index: 1;
    }

    .titleContent {
        font-size: 1.5rem;
        font-style: normal;
        letter-spacing: 5px;
        font-weight: 1000;
    }

    .facts{
        font-size: 0.8rem;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 0px;
        text-align: center;
        padding: 3px;
    }
}