* {
    margin: 0;
    padding: 0;
    background-color: #0c251e;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
}

body {
    height: 100%;
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana */
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#frontPage {
    display: flex;
    width: 100%;
    height: 80vh;
    color: white; /* Ajusta el color según tu diseño */
    z-index: 2;
    background: url('../images/imageHeader\ retoques\ esteticos.png') no-repeat center center/cover;
}

#front{
    display: flex;
}

#frontPage section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    background-color: transparent;
    margin-bottom: 20px;
    align-self: center;
    text-decoration: none;
}

a:visited {
    color: white; /* Mismo color que el enlace no visitado */
    text-decoration: none; /* Sin subrayado */
}


.nameFrontPageBig {
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 6px;
    font-weight: 900;
}

.nameFrontPageLit {
    font-size: 1.3rem;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 400;
}

#contentLink section {
    display: flex;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
    width: 80%;
}

#frontPage section {
    display: grid;
    place-items: center;
    align-content: center;
    background-color: transparent;
    width: 100%;
}

#contentLink {
    display: flex;
    flex-direction: column;
    margin-top: 100vh; /* Para que el contenido no quede oculto detrás del header */
    color: white;
    width: 100%;
    align-items: center;
    padding-top: 20%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.left {
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#frontPageArrow {
    position: absolute;
    bottom: 20px; /* Distancia desde el fondo de la pantalla */
    left: 50%;
    background-color: transparent;
}

.arrowButton {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    text-decoration: none;
    font-size: 50px;
    z-index: 100;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.dateFront{
    display: grid;
    grid-template-columns: auto auto auto; /* Tres columnas */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 20px; /* Espacio entre los elementos */
    background-color: transparent;
}

/* Agregar barras verticales de separación */
.dateFront a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px; /* Ancho de la barra */
    background-color: white; /* Color de la barra */
    transform: translateX(50%);
}

/* Ajuste para que las barras no se sobrepongan */
.dateFront a:not(:last-child) {
    position: relative;
    padding-right: 20px; /* Espacio para la barra */
}

.verticalLine {
    display: flex;
    justify-content: start;
    height: 190px;
    border-right: 2px solid white;
}

.borderSection{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titleContent {
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 6px;
    font-weight: 900;
}

.dateContent{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.invitation{
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.us{
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 2% 3%;
    margin-bottom: 20%;
    margin-top: 10%;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 200;
}

.invitationName{
    font-size: 1.5em;
    font-style: normal;
    letter-spacing: 5px;
    font-weight: 900;
    margin-bottom: 2%;
}

.invitationText{
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 10%;
    margin-top: 20%;
    text-align: center;
}

@media (max-width: 768px) {

    .nameFrontPageBig {
        font-size: 1rem;
        font-style: normal;
        letter-spacing: 5px;
        font-weight: 900;
    }

    .nameFrontPageLit {
        font-size: 1rem;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: 400;
    }

    #frontPage {
        background: url('../images/imageHeader\ retoques\ esteticos.png') no-repeat center center/cover;
        position: absolute;
        top: 20%;
        left: 0;
        color: white; /* Ajusta el color según tu diseño */
        z-index: 2;
        height: 70vh;
        align-items: flex-start;
    }

    #frontPageArrow {
        position: absolute;
        bottom: 0; /* Distancia desde el fondo de la pantalla */
        left: 45%;
        margin-bottom: 20%;
        cursor: pointer;
    }

    .arrowButton {
        display: flex;
        justify-content: center;
        color: white;
        border-radius: 50%;
        text-decoration: none;
        font-size: 35px;
        z-index: 1000;
        cursor: pointer;
        height: 50px;
        width: 50px;
        position: absolute;
    }
    
    .front{
        margin-top: 25%;
        padding-left: 5%;
    }

    .dateFront a{
        text-align: center;
    }

    header {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* 100% de la altura de la ventana */
        z-index: 1;
    }

    .titleContent {
        font-size: 1rem;
        font-style: normal;
        letter-spacing: 5px;
        font-weight: 900;
    }
}